# PYCHARM FILES
*.iml
*.xml
*.DS_Store

# RESULTS DIRECTORY
results
results/
results/*
*.npy

# IDEA Pycharm Omit
.idea/*
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
*.so
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
